.footer{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: white;
    div{
        p{
            padding: 10px;
        }
    }
    

}
.footerSec{
    background-color:#363636 ;
}